body{
    font-family: 'Poppins', sans-serif;
}
.word-orange{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}


p{
    color: dimgrey;
}
#text{
    font: 50px;
    color: aliceblue;
    font-weight: 700;
}
.backgraound-color{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.one-forth-width{
    width: 30%;
    float: left;
    margin-left:20px;
    padding: 5px;
     
    background-color: white;
    border-radius: 10px;
    
    

}
.one-forth-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px; 
    padding-bottom: 100px ;
}
#center{
    text-align: center;
}
#gray{
    background-color: rgb(253, 250, 250);
}
.shape{
    width:50% ;
    height: 20%;
    background-color: blue;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 2px;
   display: flex;
   align-items:center;
   justify-content: center;
   gap: 15rem;
 
}
#right{
    color: aliceblue;
}
.footer{
    height: auto;
}

    .footer {
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0px;
        column-gap:0;
    }
    
    .footer h3 {
        font-weight: bold;
    }
    
    .footer h4 {
        color: gray;
    }
    
    .social-media {
        align-items: center;
        margin: 0 auto;
        margin-left:45%;
    
    }
    
    .social-media img {
        width: 4%;
        margin: 5px;
    }



